/* Application styles */


body {
  font-family: Helvetica,Arial,sans-serif;
  background-color: #FFFFFF;  
  line-height: 1.25em;
  margin: 1em;
}

h1,h2,h3 {
  font-weight: bold;
  line-height: 1.25;
}

h1 { 
  font-size: 2em; 
  margin-top: 1em;
  margin-bottom: 1em;
}

h2 { 
  font-size: 1.5em; 
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h3 { 
  font-size: 1.25em; 
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ul.nav {
  list-style-type: none;
  margin: 0px;
  padding: 0px;  
}

ul.nav li {
  float: left;
  padding-right: 1em;
}

th {
  text-align: left;
  font-weight: bold;
}


  